* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: #0f0f0f;
  color: #fefefe;
  line-height: 1.6;
}

header {
  padding: 4rem 1rem;
  text-align: center;
  background: #0f0f0f;
  border-bottom: 1px solid #4a0000;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  color: #fff269;
  margin-top: 0.5rem;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 3rem 1rem;
  background: #66141d;
  
}

h2 {
  margin-bottom: 1.5rem;
}

.projects {
  margin-bottom: 4rem;
  text-align: center;
}

.project {
  margin-bottom: 2rem;
}

.project h3 {
  margin-bottom: 0.5rem;
}

.project a {
  color: #d10026;
  text-decoration: underline;
}
/* Bunnen av siden */

.main2 {
  background: #0f0f0f;
}

.about, .contact {
  margin-bottom: 3rem;
}

.contact a {
  color: #d10026;
  padding: 2rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  color: #777;
}

/* Farger
Rød text #d10026
Gul text #fff269
Rød bakgrunn #66141d
Svart: #0f0f0f
*/
